<div class="col-md-12">

    <h2><%= @project.title %></h2>
    <p><%= @project.description %></p>

    <%= link_to("删除任务", "#",    class: "btn btn-danger ",method: :delete, data: { confirm: "Are you sure?" } )%>
<div>
    <h3 class="comments_title">
      <%= @project.comments.count %>
        Comments
    </h3>
    <hr>
    <div id="comments">
        <%= render @project.comments %>
        <%= render "comments/form" %>

    </div>
</div>    
</div>
